html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*main nav container*/
.container-fluid {
    background-color: rgb(59, 7, 57);
    display: flex;
    justify-content: flex-end; /*aligns links at the very end of nav bar*/
    align-items: center;
}

/*Removing the annoying gap between the nav bar and content below it*/
.navbar {
    padding: 0 !important;
}


/*LOGO TEXT "Foodies & Co."*/
.navbar-brand {
    color: white !important;
}

/*Nav bar text*/
.nav-link {
    color: white !important;
}




/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/lamby.jpg");

  /* Set a specific height */
  height: 70%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: underline;
}





/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #4BFEE3;
  color: rgb(59, 7, 57);
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}